[submodule "picotron-definitions"]
	path = picotron-definitions
	url = https://github.com/ahai64/picotron-definitions.git
[submodule "lib/lua-state-machine"]
	path = lib/lua-state-machine
	url = https://github.com/kyleconroy/lua-state-machine.git
[submodule "lib/beholder.lua"]
	path = lib/beholder.lua
	url = https://github.com/kikito/beholder.lua
[submodule "lib/picobloc"]
	path = lib/picobloc
	url = https://github.com/adamico/picobloc.git
